<h2 mat-dialog-title>{{ data ? 'Редактировать сотрудника' : 'Новый сотрудник' }}</h2>

<mat-dialog-content>
  <form [formGroup]="empForm" class="dialog-form">
    <mat-form-field appearance="outline">
      <mat-label>Имя</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Роль / Должность</mat-label>
      <input matInput formControlName="role" placeholder="Например: Кладовщик">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Отмена</button>
  <button mat-raised-button color="primary" [disabled]="empForm.invalid" (click)="save()">Сохранить</button>
</mat-dialog-actions>