<h2 mat-dialog-title>{{ data ? 'Редактировать склад' : 'Добавить склад' }}</h2>

<mat-dialog-content>
  <form [formGroup]="whForm" class="dialog-form">
    <mat-form-field appearance="outline">
      <mat-label>Название склада</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Адрес</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Отмена</button>
  <button mat-raised-button color="primary" [disabled]="whForm.invalid" (click)="save()">Сохранить</button>
</mat-dialog-actions>