<h2 mat-dialog-title>Добавить товар в заказ</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="dialog-form">
    <mat-form-field appearance="outline">
      <mat-label>Выберите товар</mat-label>
      <mat-select formControlName="productId">
        @for (prod of products; track prod.id) {
          <mat-option [value]="prod.id">{{prod.sku}} - {{prod.name}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Количество</mat-label>
      <input matInput type="number" formControlName="quantity">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Отмена</button>
  <button 
    mat-raised-button 
    color="primary" 
    [disabled]="form.invalid" 
    (click)="save()">
    Добавить
  </button>
</mat-dialog-actions>