<mat-toolbar color="primary">
  <span>WMS Control Panel</span>
</mat-toolbar>

<mat-sidenav-container style="height: calc(100vh - 64px);">
  <mat-sidenav mode="side" opened style="width: 250px;">
    <mat-nav-list>
      <a mat-list-item routerLink="/products" routerLinkActive="active-link">
        <mat-icon matListItemIcon>inventory</mat-icon>
        <span matListItemTitle>Товары</span>
      </a>
      <a mat-list-item routerLink="/inventory" routerLinkActive="active-link">
        <mat-icon matListItemIcon>assignment</mat-icon>
        <span matListItemTitle>Остатки</span>
      </a>
      <a mat-list-item routerLink="/warehouses" routerLinkActive="active-link">
        <mat-icon matListItemIcon>warehouse</mat-icon>
        <span matListItemTitle>Склады</span>
      </a>
      <a mat-list-item routerLink="/orders" routerLinkActive="active-link">
        <mat-icon matListItemIcon>shopping_cart</mat-icon>
        <span matListItemTitle>Заказы</span>
      </a>
      <a mat-list-item routerLink="/suppliers" routerLinkActive="active-link">
        <mat-icon matListItemIcon>local_shipping</mat-icon>
        <span matListItemTitle>Поставщики</span>
      </a>
      <a mat-list-item routerLink="/employees" routerLinkActive="active-link">
        <mat-icon matListItemIcon>people</mat-icon>
        <span matListItemTitle>Персонал</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="background: #fafafa;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>